
<!-- BEGAIN PRELOADER -->
   <!--  <div id="preloader">
      <div id="status">&nbsp;</div>
      
    </div>  -->
    <!-- <div id="status">&nbsp;</div> -->
    <!-- END PRELOADER -->
    <h1>NICU in partnership with SURAKSHA KIDZ HOSPITAL,REDDY AND REDDY'S COLONY</h1>
<%= render 'slider' %>
<%= render 'featured' %>
<%= render 'service'%>
<%= render 'chooseus' %>
<%= render 'counter' %>
<%= render 'doctor' %>